<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Facts</key>
	<array>
		<string>Banging your head against a wall burns 150 calories an hour.
    </string>
		<string>In the UK, it is illegal to eat mince pies on Christmas Day!
    </string>
		<string>Pteronophobia is the fear of being tickled by feathers! </string>
		<string>29th May is officially “Put a Pillow on Your Fridge Day.</string>
		<string> Cherophobia is the fear of fun.</string>
		<string> Bikinis and tampons were invented by men. </string>
		<string>Polar bears can eat as many as 86 penguins in a single sitting. (If they lived in the same place) </string>
		<string>During your lifetime, you will produce enough saliva to fill two swimming pools. </string>
		<string> If Pinokio says My Noes Will Grow Now, it would cause a paradox.</string>
		<string>Facebook Addiction Disorder is a mental disorder identified by Psychologists. </string>
		<string> 73% of college students report sleep problems, a study found.</string>
		<string>Karoke means &quot;empty orchestra&quot; in Japanese.</string>
		<string>A lion&apos;s roar can be heard from five miles away.</string>
		<string>Goodbye came from &quot;God bye&quot; which came from &quot;God be with you.&quot;</string>
		<string> February is Black History Month.</string>
        <string>The electric chair was invented by a dentist.</string>
        <string>More people are killed by donkeys annually than are killed in plane crashes.
</string>
        <string>The sky is blue because the molecules in the air scatter blue light more than they scatter the other colours of the spectrum.
</string>
        <string>The 21st century started in 2001, not 2000.
</string>
        <string>There is only one statue dedicated to Satan in the whole world - in Parque de Retiro, Madrid, Spain.
</string>
        <string>Just as some people talk in their sleep, sign language speakers have been know to sign in their sleep
</string>
        <string>There are more pigs than humans in Denmark.
</string>
        <string>Hitler's favorite movie was King Kong
</string>
        <string>Pogonophobia' is the fear of beards.
</string>
        <string>More people are kill by falling coconuts every year then sharks attack
</string>
        <string>Peanuts is one of the ingredients of dynamite.
</string>
        <string>Sweden makes biofuel from dead rabbits.
</string>
        <string>Margaret Thatcher was part of the team that invented Mr Whippy ice cream.
</string>
        <string>The Queen took her corgi, Susan, on her honeymoon.
</string>
        <string>Skoda is Czech for ‘shame’, ‘damage’ or ‘pity’.
</string>
        <string>Research using rabbits has led to 26 Nobel Prizes for Physiology or Medicine.
</string>
        <string>Abraham Lincoln had a dog called Fido who was also murdered.
</string>
        <string>Gymnophoria is the sense that someone is mentally undressing you.
</string>
        <string>2013 is the first year since 1987 that consists of four different digits.</string>
        <string>Baby rabbits are called kittens.
            
</string>
        <string>Cows have best friends.
            
</string>
        <string>Cuddling releases Oxytocin which helps speed healing and recovery from physical wounds.</string>
        <string>Otters hold hands when sleeping so they don’t drift away from each other.</string>
        <string>
            A diamond will not dissolve in acid. The only thing that can destroy it is intense heat.</string>
        <string>A human being loses an average of 40 to 100 strands of hair a day.
            
</string>
        <string>A sneeze can exceed the speed of 100 mph.
            
</string>
        <string>After spending hours working at a computer display, look at a blank piece of white paper. It will probably appear pink.
            
</string>
        <string>Blondes have more hair than dark-haired people.
            
</string>
        <string>Chocolate contains phenylethylamine (PEA), a natural substance that is reputed to stimulate the same reaction in the body as falling in love.
            
</string>
        <string>Cenosillicaphobia is the fear of "An empty glass of beer"</string>
        <string>One plain milk chocolate candy bar has more protein than a banana.
            
</string>
        <string>THE TV SHOW FRIENDS WAS ORIGINALLY CALLED INSOMNIA CAFÉ ... AND A BUNCH OF OTHER THINGS.</string>
        <string> BRUCE WILLIS APPEARED ON THE FAMOUS TV SHOW FRIENDS FOR FREE AFTER LOSING A BET TO MATTHEW PERRY WHO PLAYED CHANDLER.</string>
        <string>Cockroaches can live for nine days without their heads, at which point they die of starvation.
            
</string>
        <string>A Saudi Arabian woman can get a divorce if her husband doesn't give her coffee.</string>
        <string>Uma Thurman's movie "Motherhood" is one of the biggest flops in UK history, only earning £88 on its opening weekend. Only one person saw it on Sunday</string>
        <string>A group of Pandas in called an Embarrassment</string>
        <string>The difference between Eau de Parfum, Eau de Toilette and Cologne, is that Eau de Parfum has approximately 15% essential oils, Eau de Toilette 10% and Cologne 5%.</string>

<string>Will Shortz, the crossword puzzle editor for the New York Times, is the only known person in the world to hold a college degree in Enigmatology.</string>

<string> If one of your grandparents are Irish, you could claim Irish citizenship no matter where you live or born without knowing anything about Ireland</string>

<string>It's impossible to burp in space.</string>
<string>A man in Florida has collected about 15 million golf balls from golf course water hazards in the past 14 years, selling them for up to $2 each.</string>
<string>A programming language called Brainfuck that exists not to be used practically but to challenge and amuse programmers.</string>
<string>Android OS was originally designed for cameras.</string>
<string>Pupils dilate when multiplying two two-digit numbers.</string>
<string>The color red stimulates glandular activity that helps us enjoy food and lose track of time, which is why many restaurants use the color red.</string>
<string>The word idiot was coined by the ancient Greeks to describe, contemptuously, those people who, even though eligible, did not participate in politics.</string>
<string>Einstein's wife was his first cousin through his mother, and his second cousin through his father.</string>
<string>Elephants are emotionally intelligent enough to suffer from Post Traumatic Stress Disorder (PTSD) akin to humans</string>
<string>Sarah Chalke wore her labcoat from 'Scrubs' when she played in 'How I Met Your Mother' and used pens to cover up her name</string>
<string>Sony owns 100% of U.S. publishing rights to the Hokey Pokey.</string>
<string>Peter Dinklage has a "small" part in the HBO series OZ where he's thrown off a building and killed by a character named Carmen Guerra.</string>

<string>The first RollerCoaster Tycoon was written entirely in assembly code - the raw language used by your processor - by one developer. He recieved $30 million for his efforts..</string>

<string>Michael Jackson, Paul McCartney and Phil Collins are the only musicians to have sold over 100 million albums as a solo artist and member of a group.</string>

<string>A group of frogs is called an 'army'.</string>

<string>Smoking scorpions to get high is a growing problem in Pakistan. The high lasts around 10 hours and supposedly makes everything look like it's "dancing." The scorpions can be smoked straight or mixed with tobacco or hash.</string>

<string>There is a world chess tournament just for computers.</string>

<string>There used to be a common misconception in Europe that California was its own island.</string>

<string>There is a movie entitled "100 Years: The Movie You Will Never See" set for release on November 8, 2115. The content of the film is currently a secret due to be revealed only when it is released about 100 years from now.</string>

<string>In the Indian state of Uttar Pradesh, many people bribe officials to declare their relatives legally dead, thus gaining ownership of their land. This led to the formation of an organisation called The Uttar Pradesh Association of Dead People, to advocate for those wrongly declare dead..</string>

<string>That there is No Post Code system in Hong Kong.</string>

<string>Google developed contact lenses that can monitor blood sugar level, greatly helping the quality of life of those with diabetes by providing a passive way to monitor blood sugar.</string>

<string>Mark Twain predicted his own death in 1909 "I came in with Halley's Comet in 1835. It is coming again next year, and I expect to go out with it." He died in 1910, a day after the comet returned.</string>

<string>The only red card Lionel Messi has ever been given was 2 minutes after his senior debute with Argentina.</string>

<string>Thiomargarita namibiensis, the largest bacteria in existence, actually visible to the human eye.</string>

<string>There is an indian movie named "James Bond" that is a remake of "Baby's Day Out"</string>

<string>Family Guy's "Prom Night Dumpster Baby" was inspired a true life case.</string>


	</array>
</dict>
</plist>
